{{!< default}}
<article class="{{post_class}}">

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
	

	{{! Everything below outputs content of the the post which has been published }}
	<span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}on {{tags separator=" | "}}{{/if}}</span>

	<h1 class="post-title">{{{title}}}</h1>
	
	{{#if image}}
	    <img src="{{image}}" class="banner">
	{{/if}}
	

	<section class="post-content">
		{{content}}
	</section>

	<footer class="post-footer">
		{{> disqus }}
	</footer>

{{/post}}

</article>