
{{!< default}}

{{#post}}

{{#if image}}
<div class="uk-width-1-1 uk-cover-background postcover uk-clearfix" style="background: url('{{image}}') no-repeat fixed 50% 0 / 100% auto">
	<div class="uk-overlay-background uk-flex uk-flex-bottom uk-contrast uk-padding-remove">
	<div class="uk-width-1-1 uk-width-small-9-10 uk-width-medium-8-10 uk-width-large-7-10 uk-container uk-container-center uk-overlay-bottom uk-margin-bottom uk-animation-slide-bottom">
		<h1 class="uk-article-title uk-margin-top uk-margin-small">{{title}}</h1><hr class="uk-article-divider uk-margin-small" />
		<p class="uk-article-meta uk-margin-bottom uk-margin-small-top">Written by {{#author}}
			<span><a href="{{url}}" title="{{name}}">{{name}}</a></span>{{/author}} on
			<time datetime="{{date published_at format='YYYY-MM-DD'}}" content="{{date published_at format='YYYY-MM-DD'}}">
			{{date published_at format='MMMM, DD YYYY'}}
			</time>
		</p>
	</div>
	</div>
</div>	
{{/if}}	
	
<div class="uk-clearfix shade1">
<article class="uk-width-1-1 uk-width-small-9-10 uk-width-medium-8-10 uk-width-large-7-10 uk-container uk-container-center uk-margin-large-top uk-margin-large uk-article uk-clearfix {{post_class}}" role="main">

{{^if image}}
	<h1 class="uk-article-title uk-margin-small">{{title}}</h1><hr class="uk-article-divider uk-margin-small" />
	<p class="uk-article-meta uk-margin uk-margin-small-top"> Written by {{#author}}
		<span><a href="{{url}}" title="{{name}}" class="uk-article-meta">{{name}}</a></span>{{/author}} on
		<time datetime="{{date published_at format='YYYY-MM-DD'}}" content="{{date published_at format='YYYY-MM-DD'}}">
	    {{date published_at format='MMMM, DD YYYY'}}
		</time>
	</p>	
{{/if}}	

<div class="dropcap">
	{{content}}
</div>
                
<p class="uk-text-center uk-margin-large">
	{{#foreach tags}}<a href="/tag/{{slug}}" title="{{name}}" class="uk-button uk-margin-small-right">
		{{name}}<i class="uk-icon-tag uk-margin-left uk-text-muted"></i></a>
	{{/foreach}}
</p>

<hr class="uk-article-divider" />

{{#author}}

    {{#if image}}
    <figure class="uk-align-right uk-align-right uk-margin-top-remove uk-overlay uk-overlay-hover">
        <a href="{{url}}" title="{{name}}">
        <img src="{{image}}" alt="{{name}} Profile Picture" title="{{name}} Profile Picture" class="uk-thumbnail uk-thumbnail-mini uk-border-circle uk-overlay-fade uk-overlay-grayscale" />
        <div class="uk-overlay-panel uk-overlay-background uk-overlay-icon uk-border-circle"></div>
        </a>
    </figure>
    {{/if}}

    <h5 class="uk-h4 uk-text-default uk-margin-top uk-margin-bottom-remove uk-display-inline">{{name}}</h5>

    {{#if bio}}
    	<p class="uk-margin-small">{{bio}}</p>
    {{else}}
        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
    {{/if}}
        {{#if location}}<span class="uk-article-meta uk-text-muted">{{location}}</span>{{/if}}

{{/author}}

<hr class="uk-article-divider uk-margin-large-bottom" />
     
<h6 class="uk-h4 uk-display-inline">Additional Posts</h6><i class="uk-icon-bookmark uk-text-primary uk-icon-mini uk-float-right" data-uk-scrollspy="{cls:'uk-animation-fade'}"></i>
<div class="uk-panel uk-panel-box uk-panel-box-secondary uk-width-1-1 uk-small-width-3-4 uk-margin">
	<ul class="uk-thumbnav uk-grid-width-1-1 uk-grid-width-medium-1-2 uk-contrast" data-uk-grid-match="{target:'.uk-overlay-fade'}">	

	{{#next_post}}
	<li><a href="{{url}}" title="{{title}}" class="uk-overlay uk-overlay-hover uk-text-left uk-panel-box uk-padding-remove">
		{{#if image}}<img src="{{image}}" alt="{{title}}" title="{{title}}" class="uk-overlay-fade" />
		{{else}}<img src="{{@blog.cover}}" alt="{{@blog.title}}" title="{{@blog.title}}" class="uk-overlay-fade" />{{/if}}								
		<div class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-column">
		<div class="uk-h4 uk-text-primary">{{title}}<i class="uk-icon-caret-left uk-icon-small uk-float-left uk-margin-right"></i></div>
		<p class="uk-margin-small-top uk-text-small">{{excerpt words="20"}}&hellip;</p></div></a></li>	      
	{{else}}
	<li><a href="{{url}}" title="{{title}}" class="uk-overlay uk-overlay-hover uk-text-left uk-panel-box uk-padding-remove">
		<img src="{{@blog.cover}}" alt="{{@blog.title}}" title="{{@blog.title}}" class="uk-overlay-fade" />
		<div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-column uk-flex-middle">
		<i class="uk-icon-home uk-icon-large"></i><span class="uk-h4 uk-text-muted">{{@blog.title}}</span></div></a></li>
	{{/next_post}}
	
	{{#prev_post}}
	<li><a href="{{url}}" title="{{title}}" class="uk-overlay uk-overlay-hover uk-text-right uk-panel-box uk-padding-remove">
		{{#if image}}<img src="{{image}}" alt="{{title}}" title="{{title}}" class="uk-overlay-fade" />
		{{else}}<img src="{{@blog.cover}}" alt="{{@blog.title}}" title="{{@blog.title}}" class="uk-overlay-fade" />{{/if}}								
		<div class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-column">
		<div class="uk-h4 uk-text-primary">{{title}}<i class="uk-icon-caret-right uk-icon-small uk-float-right uk-margin-left"></i></div>
		<p class="uk-margin-small-top uk-text-small">{{excerpt words="20"}}&hellip;</p></div></a></li>	      
	{{else}}
	<li><a href="{{url}}" title="{{title}}" class="uk-overlay uk-overlay-hover uk-text-right uk-panel-box uk-padding-remove">
		<img src="{{@blog.cover}}" alt="{{@blog.title}}" title="{{@blog.title}}" class="uk-overlay-fade" />
		<div class="uk-overlay-panel uk-overlay-background uk-overlay-fade uk-flex uk-flex-center uk-flex-column uk-flex-middle">
		<i class="uk-icon-home uk-icon-large"></i><span class="uk-h4 uk-text-muted">{{@blog.title}}</span></div></a></li>
	{{/prev_post}}

	</ul>
</div>
	
<section class="uk-text-center uk-margin-large-bottom">
	<h6 class="uk-h5 uk-text-muted uk-margin uk-margin-large-top" data-uk-scrollspy="{cls:'uk-animation-fade',delay:600}">Share This Post</h6>
	<a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter" class="uk-animation-hover uk-margin-right" target="_blank" rel="nofollow"><i class="uk-icon-twitter uk-icon-large uk-animation-reverse uk-animation-scale"></i><span class="uk-hidden">Twitter</span></a>
	<a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Share on Google+" class="uk-animation-hover uk-margin-right" target="_blank" rel="nofollow"><i class="uk-icon-google-plus uk-icon-large uk-animation-reverse uk-animation-scale"></i><span class="uk-hidden">Google+</span></a>
	<a href="https://pinterest.com/pin/create/button/?url={{url absolute="true"}}&amp;media={{encode image}}&amp;description={{encode description}}" title="Share on Pinterest" class="pin-it-button uk-animation-hover uk-margin-right" target="_blank" rel="nofollow"><i class="uk-icon-pinterest uk-icon-large uk-animation-reverse uk-animation-scale"></i><span class="uk-hidden">Pinterest</span></a>		
	<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Share on Facebook" class="uk-animation-hover" target="_blank" rel="nofollow"><i class="uk-icon-facebook uk-icon-large uk-animation-reverse uk-animation-scale"></i><span class="uk-hidden">Facebook</span></a>
</section>

<!-- {{> disqus}} -->
			
</article>
</div>

{{/post}}
